@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0f1117] text-gray-100 min-h-screen m-0 p-0 antialiased;
  }
}

/* Custom Scrollbar Tipis */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}